<section class="section contact-info pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="fa-solid fa-headset"></i>
                    <h5>Call Us</h5>
                    +373 68 694 548
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="fa-regular fa-envelope"></i>
                    <h5>Email Us</h5>
                    ZenPharm@gmail.com
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="fa-solid fa-location-dot"></i>
                    <h5>Location</h5>
                    ZenPharm Address, Chisinau, RM
                </div>
            </div>
        </div>
    </div>
</section>