<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h3 class="featurette-heading">Gama largă de produse. 
            <br />
            <span class="text-muted">Descoperă varietatea noastră.</span>
        </h3>
        <p class="lead">Beneficiază de o gamă vastă de produse de înaltă calitate, concepute pentru a-ți îmbunătăți sănătatea și bunăstarea.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1512069772995-ec65ed45afd6" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">Farmaciști specializați. 
            <br />
            <span class="text-muted">Consiliere de încredere.</span>
        </h3>
        <p class="lead">Beneficiază de sfaturile și consultanța experților noștri farmaciști specializați, pregătiți să te îndrume către cele mai bune soluții pentru nevoile tale de sănătate.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1576091358783-a212ec293ff3" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h3 class="featurette-heading">Platformă intuitivă. 
            <br />
            <span class="text-muted">Ușurință în utilizare.</span></h3>
        <p class="lead">Beneficiază de o experiență de cumpărături online simplă și intuitivă, astfel încât să găsești rapid și ușor produsele de care ai nevoie pentru sănătatea ta.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1530497610245-94d3c16cda28" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">
