@{
    ViewData["Title"] = "About";
}

<section class="page-title bg-1 mb-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">About Us</span>
                    <h1 class="text-capitalize mb-5 text-lg">About Us</h1>

                    <ul class="list-inline breadcumb-nav">
                        <li class="list-inline-item"><a href="@Url.Action("Index","Home")" class="text-white">Home</a></li>
                      <li class="list-inline-item"><span class="text-white">/</span></li>
                        <li class="list-inline-item"><a href="@Url.Action("About","Home")" class="text-white-50">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Despre Noi -->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Bine ai venit la ZenPharm - destinația ta pentru sănătate și bunăstare.</p>
                <p>La ZenPharm, suntem dedicați să aducem echilibru și armonie în viața fiecărui client. Cu o experiență vastă în domeniul farmaceutic și o pasiune pentru îngrijirea sănătății, ne-am angajat să oferim produse și servicii de cea mai înaltă calitate.</p>
            </div>
        </div>
    </div>
</section>

<!-- Misiunea Noastră -->
<section id="mission" class="section-padding bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class=" mb-4">Misiunea Noastră</h2>
                <p>Misiunea noastră este să facilităm accesul la soluții de sănătate inovatoare și de încredere, pentru a sprijini o viață sănătoasă și fericită pentru fiecare persoană. Ne străduim să oferim produse de calitate superioară, consultanță farmaceutică personalizată și o experiență de cumpărături online simplă și plăcută.</p>
            </div>
        </div>
    </div>
</section>

<!-- Valori Noastre -->
<section id="values" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class=" mb-4">Valori Noastre</h2>
                <ul>
                    <li><strong>Integritate:</strong> Suntem onești, transparenți și respectăm standardele etice cele mai înalte în toate aspectele afacerii noastre.</li>
                    <li><strong>Calitate:</strong> Ne angajăm să oferim produse de cea mai înaltă calitate, care să îndeplinească cele mai exigente standarde de siguranță și eficacitate.</li>
                    <li><strong>Îngrijire:</strong> Ne preocupăm sincer de sănătatea și bunăstarea clienților noștri și ne străduim să le oferim cele mai bune soluții pentru nevoile lor individuale.</li>
                    <li><strong>Inovare:</strong> Suntem în permanență în căutarea celor mai recente și mai bune inovații în domeniul sănătății și al îngrijirii personale, pentru a oferi clienților noștri produse și servicii de ultimă generație.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Echipa Noastră -->
<section id="team" class="section-padding bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class=" mb-4">Echipa Noastră</h2>
                <p>Echipa ZenPharm este formată din farmaciști specializați, experți în domeniul sănătății și profesioniști dedicați, care împărtășesc o pasiune comună pentru îngrijirea sănătății și bunăstarea pacienților noștri. Suntem aici pentru a răspunde la întrebările tale, pentru a-ți oferi consultanță personalizată și pentru a te ghida pe drumul către o viață mai sănătoasă și mai fericită.</p>
            </div>
        </div>
    </div>
</section>