@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/carousel.css" rel="stylesheet" />

<main role="main">
    <partial name="_IndexBanner" />
    <div class="container">
        <partial name="_IndexFeatures" />
    </div>

</main>